@model DoAnCuoiKi.Models.AdminUser
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<title>Đăng Ký</title>
<link href="~/Content/loginstyle.css" rel="stylesheet" />
<link href="~/Content/bootstrap5/bootstrap.css" rel="stylesheet"/>
@{
    /**/

    ViewBag.Title = "RegisterUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color: red;
    }

</style>

<div class="m-4">
    <div class="signup">
        <h1>Đăng ký</h1>
        @using (Html.BeginForm("RegisterUser", "LoginUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <button class="signup-social">
                <img src="~/image/google.png" height="20px" width="20px" alt="google_login" />
                <span class="signup-social-text">Sign up with Google</span>
            </button>
            <div class="signup-or"><span style="text-align:center;">hoặc</span></div>

            <form action="#" class="signup-form" autocomplete="off">

                <label for="ID" class="signup-label">Mã người dùng: &nbsp;&nbsp;</label>
                @Html.EditorFor(Model => Model.ID)
                @Html.ValidationMessageFor(Model => Model.ID)
                <br />
                <label for="NameUser" class="signup-label">Tài khoản: &nbsp;&nbsp;</label>
                @Html.EditorFor(Model => Model.NameUser)
                @Html.ValidationMessageFor(Model => Model.NameUser)
                <br />

                <label for="RoleUser" class="signup-label">Địa chỉ: &nbsp;&nbsp;</label>
                @Html.EditorFor(Model => Model.RoleUser)
                @Html.ValidationMessageFor(Model => Model.RoleUser)
                <br />

                <label for="PasswordUser" class="signup-label">Mật khẩu: &nbsp;&nbsp;</label>
                @Html.PasswordFor(Model => Model.PasswordUser)
                @Html.ValidationMessageFor(Model => Model.PasswordUser)
                <br />

                <label for="ConfirmPass" class="signup-label">Nhập lại mật khẩu: &nbsp;&nbsp;</label>
                @Html.PasswordFor(Model => Model.ConfirmPass)
                @Html.ValidationMessageFor(Model => Model.ConfirmPass)

                <label for="space" class="signup-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

                <button class="signup-submit">Đăng ký</button>
            </form>
            <p class="signup-already">
                <span>Bạn đã có tài khoản ?</span>
                <a href="/LoginUser/Index" class="signup-login-link">Đăng nhập</a>
            </p>
        }
    </div>
</div>